**/.git
**/.vs
**/.idea
**/.vscode
**/bin
**/obj
**/*.user
**/*.DotSettings.user
**/TestResults
**/.DS_Store
src/Potok.Backend.TorrentGo/downloads
src/Potok.Backend.TorrentGo/Potok.Backend.TorrentGo
src/Potok.Backend.PluginBundler/Potok.Backend.PluginBundler
